{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "assets": "./assets/",
          "images": "./assets/images/",
          "fonts": "./assets/fonts/",
          "src": "./src/",
          "components": "./src/components/"
        }
      }
    ]
  ]
}
