body {
  margin: 0;
  background-color: #333;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.myInput {
  font-family: sans-serif;
  border: 2px solid #a57e94;
  border-radius: 6px;
  margin: 20px;
  background-color: transparent;
  color: #a57e94;
  font-size: 36px;
  padding: 15px;
  height: 80px;
}
.myInput3-wrapper.focused .slidinput-placeholder {
  color: #ad5e57 !important;
}
.myInput3-wrapper.filled .slidinput-placeholder {
  color: #7ea58b !important;
}
