*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea {
  font-family: inherit;
  margin: 0;
}
.slidinput-wrapper {
  position: relative;
  display: inline-block;
}
.slidinput-wrapper input {
  box-sizing: border-box !important;
}
.slidinput-placeholder {
  --sliding-y: -90%;
  --sliding-x: 0;
  --scaling: 0.7; /* 0.7 is default value at JS */
  position: absolute;
  transform-origin: 0% 0%;
  transition: transform 300ms ease, color 300ms ease, opacity 100ms ease;
}
.slidinput-wrapper.focused .slidinput-placeholder,
.slidinput-wrapper.filled .slidinput-placeholder {
  transform: scale(var(--scaling)) translate(var(--sliding-x), var(--sliding-y));
}
.slidinput-wrapper.mode-regular.filled .slidinput-placeholder {
  opacity: 0;
}
